<wm-page data-ng-controller="MainPageController" name="mainpage">
    <wm-header content="header" name="header" height="auto"></wm-header>
    <wm-top-nav name="topnav" content="topnav"></wm-top-nav>
    <wm-content name="content">
        <wm-left-panel columnwidth="2" name="leftpanel" content="leftnav"></wm-left-panel>
        <wm-page-content columnwidth="8" paddingleft="15" paddingright="15" name="mainContent">
            <wm-composite name="composite1">
                <wm-label class="col-md-3" name="label1"></wm-label>
                <wm-container class="col-md-9" name="container1">
                    <wm-text name="text1"></wm-text>
                </wm-container>
            </wm-composite>
            <wm-composite name="composite2">
                <wm-label class="col-md-3" name="label2"></wm-label>
                <wm-container class="col-md-9" name="container2">
                    <wm-text name="text2"></wm-text>
                </wm-container>
            </wm-composite>
            <wm-button class="btn-default" caption="Button" type="button" name="button1"></wm-button>
        </wm-page-content>
        <wm-right-panel columnwidth="2" name="rightpanel" content="rightnav"></wm-right-panel>
    </wm-content>
    <wm-footer name="footer" content="footer"></wm-footer>
</wm-page>